@media(prefers-color-scheme:dark) {
    :root {
        --primary-background: #313131;
        --primary-text-color: #FFFFFF;
        --black-background: #0C0C0C;
    }

    body {
        background: var(--primary-background);
    }

    .header__nav-img::before {
        content: url('../images/Logo-dark.png');
    }

    .play__about-logo::before {
        content: url('../images/play-sign-dark.png');
    }

    .nav__bg {
        background: var(--black-background);
    }

    .dropdown-menu,
    .footer__bg {
        background: var(--black-background);
    }

    .header__button {
        font-size: 14px;
        line-height: 19px;
        color: var(--primary-text-color);
        border-color: var(--white-color);
        font-size: 17px;
    }

    .header__button::before {
        content: '\f002';
    }

    .header__input {
        background-color: var(--primary-background);
        color: #BBBBBB;
    }

    .header__items-link, .drop__content-item, .drop__content-itemss, .header__content-title, .main__title, .main__text, .main__price, .main__content-icon, .play__text, .header__iphone-text, .header__iphone-price, .header__iphone-titles, .header__iphone-description, .main__playstation-title, .main__playstation-text, .main__xbox-title, .main__xbox-text{
        color: var(--primary-text-color);
    }

    .header__items-link:hover,
    .drop__content-item:hover,
    .drop__content-itemss:hover {
        color: var(--primary-text-color);
    }

    .header__content-link, .main__playstation-link, .main__btn, .main__content-link, .play__link, .iphone__link-cart, .iphone__link-buy {
        border: 1px solid white;
    }

    .carousel-indicators [data-bs-target] {
        background: #ABABAB;
        margin-bottom: -40px;
    }
    .main__xbox-button{
        margin-left: 5px;
    }
    .main__phone-img,
    .playstation-img {
        background: radial-gradient(45% 10% at 51% 68%, rgba(255, 255, 255, 0.2) 47%, rgba(49, 49, 49, 0) 100%);
    }

    .main__content-icon:hover::before {
        color: var(--primary-text-color);
        opacity: 1;
    }

    .main__content-icon::before {
        opacity: 0;
        transition: 0.5s;
    }

    .main__about-playstation {
        background: none;
    }

    .carousel-indicators [data-bs-target].active {
        background: var(--primary-text-color);
        margin-bottom: -40px;
    }

    .header__slider-img {
        background: radial-gradient(29.86% 47.86% at 50% 50%, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
    }
}

@media(max-width:1400px) {

    .main__play-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main__cellphone-items, .main__comp-items, .main__seller-items{
        flex-wrap: wrap;
    }
    .content__title{
        margin-top: 0;
    }

}
@media(max-width:1240px){
    .main__learn-item:nth-of-type(1) {
        grid-column: span 4;
        grid-row: span 2;
}
.header__content-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .main__learn-item:nth-of-type(1), .main__learn-item:nth-of-type(2){
    grid-column: span 2;
    grid-row: span 1;
 }

    .main__learn-item:nth-of-type(3), .main__learn-item:nth-of-type(4) {
        grid-column: span 2;
    }
    .main__about-playstation {
        background: none;
    }
    .main__play-img, .main__playstation-image{
        display: flex;
        flex-direction: column;
    }
    .header__iphone-items{
        flex-wrap: wrap;
        justify-content: center;
    }
 }
 @media(max-width:1154px){
     .play__text, .header__content-title {
         font-size: 42px;
     }
     .main__learn-item:nth-of-type(1){
         grid-row: span 1;
     }
     .header__content-itmes{
         flex-wrap: wrap;
     }
     .header__content-right{
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     .header__content-link{
         margin-top: 0;
     }
     .footer__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
     .main__learn-item:nth-of-type(3), .main__learn-item:nth-of-type(4){
         grid-column: span 2;
     }
     
     .footer__content-item{
         margin: 10px 0;
     }
     .header__toggler-icon::before {
        content: '\f0c9';
        font-size: 30px;
    }
    .carousel-indicators [data-bs-target]{
        margin-bottom: -60px;
    }
    .carousel-indicators [data-bs-target].active{
        margin-bottom: -60px;
    }
 }
 @media(max-width:768px){
     .main__learn-items{
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     .play__text{
         font-size: 40px;
         line-height: 15px;
     }
     .main__seller-items, .main__cellphone-items, .main__comp-items{
         justify-content: center !important;
     }
     .main__learn-item:nth-of-type(1), .main__learn-item:nth-of-type(4), .main__learn-item:nth-of-type(3){
         width: 62%;
     }
     .main__xbox-title{
         font-size: 35px;
     }
     .main__xbox-text{
         display: none;
     }
     .main__learn-item:nth-of-type(2){
         height: 250px;
         width: 62%;
     }
     .main__iphone-playstation{
        margin-bottom: 50px;
     }
     .header__content-items{
         flex-wrap: wrap;
     }
     .content__title{
         margin-left: 10px;
         margin-top: 0;
     }
     .learn__content-percent{
        line-height: 50px;
        max-width: 50px;
        width: 100%;
        font-size: 15px;
     }
     .main__xbox-button{
         padding: 10px;
         font-size: 15px;
     }
 }
 @media(max-width:650px){
     .header_form{
         margin: 0 auto;
     }
     .header__input{
         width: 290px;
     }
     .header__button{
         width: 150px;
         padding: 5px;
     }
     .main__learn-img{
         width: 510px;
     }
     .learn__content-description {
        font-size: 20px;
        line-height: 20px;}
        .main__playstation-text{
            color: var(--primary-text-color);
        }
        .main__playstation-link{
            margin-top: 0;
        }
        .header__iphone-left{
            margin-right: 0;
        }
        .header__iphone-photo{
            margin-left: 0;
        }
 }
 @media(max-width:600px){
    .header__input{
        width: 250px !important;
    }
    .header__iphone-text{
        line-height: 50px;
    }
    .header__uphone-description{
        font-size: 13px;
    }
    .iphone__link-cart, .iphone__link-buy{
        padding: 10px 30px;
    }
    .main__playstation-link{
        max-width: 160px;
        width: 100%;
    }
    .forms-btn{
        max-width: 150px !important;
        width: 100%;
    }
    .forms{
        max-width: 200px;
        width: 100%;
    }
    .footer__button{
        width: 300px;
    }
    .play__text{
        font-size: 35px;
    }
    .play__link{
        margin-top: 20px;
        margin-left: 0;
    }
 }
 @media(max-width:580px){
     .header__iphone-left{
         display: block;
     }
     .header__iphone-photos{
         display: flex;
         flex-direction: row;
         justify-content: space-around;
     }
     .play__text{
         font-size: 25px;
     }
     .header__nav-list{
         justify-content: center !important;
         padding-left: 0;
         flex-wrap: wrap;
     }
     .main__xbox-button{
        padding: 5px;
        font-size: 13px;
    }
    .main__xbox-title, .header__content-title{
        font-size: 25px;
    }
     .div-collapse{
         justify-content: center !important;
     }
 }
 @media(max-width:400px){
     .main__playstation-title{
         margin-bottom: 0;
         font-size: 35px;
     }
     .main__learn-item:nth-of-type(1), .main__learn-item:nth-of-type(2), .main__learn-item:nth-of-type(3), .main__learn-item:nth-of-type(4){
         width: 75%;
     }
     .main__playstation-text{
         font-size: 20px;
         line-height: 20px;
     }
     .main__playstation-link{
         font-size: 15px;
         line-height: 20px;
         padding: 8px 0;
     }
     .footer__content{
         padding-bottom: 20px;
     }
     .iphone__link-cart, .iphone__link-buy{
        font-size: 15px;
        line-height: 20px;
        padding: 8px 12px;
     }
     .header__button{
         max-width: 100px;
         width: 100%;
         font-size: 13px !important;
    }
    .header__content-link{
        max-width: 110px;
        width: 100%;
        font-size: 15px;
    }
    .play__link{
        padding: 10px;
        font-size: 15px;
    }
    .main__learn-item:nth-of-type(1), .main__learn-item:nth-of-type(2){
        height: 235px;
    }
    .header__content-title{
        font-size: 35px;
    }
    .header__iphone-img{
        width: 20%;
    }
    .header__iphone-image{
        width: 80%;
    }
    .forms-btn{
        font-size: 13px;
        max-width: 100px;
        width: 100%;
    }
    .footer__content-icon1, .footer__content-icon2, .footer__content-icon3 {
        font-size: 35px;
        margin-right: 15px;
    } 
    .footer__last-title{
        padding-bottom: 20px;
    }
    .footer__last-link{
        font-size: 15px;
    }
    .main__iphone-playstation{
        margin: 50px 0;
    }
 }
 @media(max-width:350px){
     .header__input{
         max-width: 190px;
         width: 100%;
     }
 }